extends ./layouts/base.pug

include ./mixins/navs/dashhead.pug

include ./mixins/graphs/bar.pug

include ./mixins/components/table.pug

append head
  title Social Networks
  style.
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }

append body
  div.container
    div.row

      // content
      div.col-sm-offset-1.col-sm-10

        // dashhead
        div.dashhead
          div.dashhead-titles
            h6.dashhead-subtitle Overview
            h2.dashhead-title Social Networks
          div.btn-toolbar.dashhead-toolbar
            div.dashhead-toolbar-item
              select.custom-select
                option City
                option First option
                option Another option
                option Alternative
                option Last one
            span.dashhead-toolbar-divider.hidden-xs
            div.dashhead-toolbar-item
              select.custom-select
                option Quarter
                option First option
                option Another option
                option Alternative
                option Last one
        hr.m-t

        // overview
        div.row
          div.col-sm-offset-1.col-sm-4
            h3.text-center.m-b Dist. by # SNs
            div.w-full.m-x-auto
              +table(
                'distribution',
                ['# SNs', 'Count'],
                [{ 'a': '3', 'b': 10 }, { 'a': '3', 'b': 10 }, { 'a': '3', 'b': 10 }, { 'a': '3', 'b': 10 }, { 'a': '3', 'b': 10 }, { 'a': '2', 'b': 100}, {'a': '1', 'b': 1000 }]
              )
          div.col-sm-offset-1.col-sm-6
            h3.text-center.m-b # venues by SN
            div.w-full.m-x-auto
              +bar(
                ['Twitter', 'Facebook', 'Foursquare', 'Yelp', 'Tripadvisor', 'Michelin', 'Repsol'],
                [{ label: 'Venues', data: [1000, 1000, 10000, 10000, 10000, 100, 100] }]
              )

        // top new
        div.hr-divider.m-t-md.m-b
          h3.hr-divider-content.hr-divider-heading Top New
        div.row
          div.col-sm-3.m-b
            h4
              span.icon.icon-twitter
              |  Twitter
            +table('tn-twitter', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-facebook
              |  Facebook
            +table('tn-facebook', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-foursquare
              |  Foursquare
            +table('tn-foursquare', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-yelp
              |  Yelp
            +table('tn-yelp', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-tripadvisor
              |  Tripadvisor
            +table('tn-tripadvisor', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-star
              |  Michelin
            +table('tn-michelin', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-circle
              |  Repsol
            +table('tn-repsol', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])

        // top trendy
        div.hr-divider.m-t-md.m-b
          h3.hr-divider-content.hr-divider-heading Top Trendy
        div.row
          div.col-sm-3.m-b
            h4
              span.icon.icon-twitter
              |  Twitter
            +table('tn-twitter', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-facebook
              |  Facebook
            +table('tn-facebook', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-foursquare
              |  Foursquare
            +table('tn-foursquare', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-yelp
              |  Yelp
            +table('tn-yelp', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-tripadvisor
              |  Tripadvisor
            +table('tn-tripadvisor', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-star
              |  Michelin
            +table('tn-michelin', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-circle
              |  Repsol
            +table('tn-repsol', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])

        // top draft
        div.hr-divider.m-t-md.m-b
          h3.hr-divider-content.hr-divider-heading Top Draft
        div.row
          div.col-sm-3.m-b
            h4
              span.icon.icon-twitter
              |  Twitter
            +table('tn-twitter', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-facebook
              |  Facebook
            +table('tn-facebook', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-foursquare
              |  Foursquare
            +table('tn-foursquare', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-yelp
              |  Yelp
            +table('tn-yelp', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-tripadvisor
              |  Tripadvisor
            +table('tn-tripadvisor', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-star
              |  Michelin
            +table('tn-michelin', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])
          div.col-sm-3.m-b
            h4
              span.icon.icon-circle
              |  Repsol
            +table('tn-repsol', ['Name', 'Rating'], [{ name: 'a', rating: 10 }, { name: 'b', rating: 9 }, { name: 'c', rating: 8 }])

append scripts
  script(src="/libs/theme-dashboard/js/chart.min.js")
  script(src="/js/socialnetworks.min.js")